@model IEnumerable<ToDoEU.Models.DTO.ToDoItemModel>
@{
    ViewData["Title"] = "Admin Dashboard";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">TODO List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Dashboard" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp; Create New Goal
            </a>
        </div>
    </div>
    <br /><br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ToDo Activity</th>
            <th>Discription</th>
            <th>Status</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="30%">
                    @obj.ItemName
                    </td>
                    <td width="30%">
                    @obj.ItemDescription
                    </td>
                    <td width="20%">
                        @obj.ItemStatus
                    </td>
                    <td width="20%">
                        @obj.userId
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Admin" asp-action="Delete" asp-route-ItemId="@obj.ItemId" class="text-danger">
                                <i class="bi bi-trash3"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>
</div>